/*--General settings--*/

header {
    background-color: var(--main-bg-color);
    color: var(--black-color);
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.3);
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header a {
    text-decoration: none;
    color: var(--black-color)
}

/*--End General settings--*/

/*--Mobile devices, iPads and tablets: 55px up to 768px--*/

@media screen and (min-width:3.125em) and (max-width:48.0624em) { 
	header {
        height: 6vh;
        width: 100%;
        position: relative;
        z-index: 0
    }
}

/*--End Mobile devices, iPads and tablets: 55px up to 768px--*/