/*--Style section news and press--*/

.content__section.news {
    /* border: 2px dashed green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 3rem 1rem 3rem;
    height: 76vh
}

        /*--Style news container--*/

        #newsContainer {
            /* border: 2px dashed red; */
            height: 52vh;
            width: 100%;
            position: relative
        }

        .slide {
            /* border: 2px solid pink; */
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            height: 95%;
            width: 100%;
            opacity: 0;
            transition: opacity .2s linear;
            position: absolute
        }
        
        .activeslide {
            opacity: 1
        }

            /*--Style slide number--*/

            .slideNumber {
                background-color: var(--dark-green);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 15%;
                border-radius: 0.5rem;
                width: 100%
            }

            .slideNumber h2 {
                color: var(--main-bg-color);
                display: flex;
                align-items: center;
                height: 100%;
                width: max-content                
            }

            /*--End style slide number--*/

            /*--Style slide cards--*/

            .slideCards {
                /* border: 1px dashed black; */
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 90%;
                width: 100%
            }

            .card {
                /* border: 1px dashed black; */
                display: flex;
                justify-content: center;
                align-items: center;
                height: 95%;
                width: 40%;
                z-index: 1;
                border-radius: 0.5rem;
                box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19)
            }

            .cardImg {
                /* border: 1px solid orange; */
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 50%
            }

            .cardText {
                /* border: 1px solid orange; */
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                height: 100%;
                width: 50%;
                padding: 1rem
            }

            .cardText h3 {
                text-align: left;
            }

            .cardText p, a {
                text-align: justify
            }

            .cardText a {
                color: var(--black-color)
            }

            .cardText a:hover {
                color: var(--dark-green)
            }

            .dateAndLocal {
                color: rgb(54, 53, 53);
                font-weight: bold
            }

            .cardFigure {
                /* border: 1px solid blueviolet; */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 100%
            }

            .cardFigure img {
                height: auto;
                width: 95%
            }

            /*--End style slide cards--*/

        /*--End style news container--*/

        /*--Style slider bar--*/

        #sliderBar {
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4vh;
            width: 100%;
            position: relative
        }
        
        #previousButton, #nextButton {
            background-color: transparent;
            color: var(--dark-green);
            opacity: 0.5;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            height: 100%;
            width: 5%;
            cursor: pointer;
            user-select: none;
            border: none
        }
        
        #nextButton:hover {
            opacity: 1
        }
        
        #previousButton:hover {
            opacity: 1
        }
        
        #buttons__sliderBar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 20%
        }
        
        .button__sliderBar {
            background-color: var(--dark-green);
            opacity: 0.2;
            height: 0.7rem;
            width: 0.7rem;
            cursor: pointer;
            border-radius: 50%;
            transition: opacity 0.5s linear
        }
        
        .activebutton {
            opacity: 1;
            height: 1rem;
            width: 1rem
        } 

        /*--End style container news--*/

        /*--Style container press--*/

        #pressContainer {
            background-color: var(--dark-green);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 1rem;
            border-radius: 0.5rem;
            height: 17vh;
            width: 60%;
            box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19)
        }

        .imgPress {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 20%
        }

        .imgPress.left img {
            height: auto;
            width: 50%
        }

        .imgPress.right img {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: auto;
            width: 50%
        }

        #text__mediaRequest {
            color: var(--main-bg-color);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0.5rem;
            height: auto;
            width: 20%
        }

        .button__mediaRequest {
            background-color: var(--main-bg-color);
            color: var(--black-color);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 9.375rem;
            height: 22%;
            border-radius: 1.25rem;
            border: none;
            margin: 0.5rem;
            cursor: pointer
        }

        .button__mediaRequest:hover {
            border: 0.125rem solid var(--dark-green)
        }

        /*--End style container press--*/

/*--End style section news and press--*/


/*--Mobile devices, iPads and tablets: 55px up to 768px--*/

@media screen and (min-width:3.125em) and (max-width:48.0624em) {
    .content__section.news {
        content-visibility: hidden;
        padding: 0;
        height: 0;
        width: 0

    }
    
	#newsContainer {
        content-visibility: hidden;
        height: 0;
        width: 0
    }

    #pressContainer {
        content-visibility: hidden;
        height: 0;
        width: 0
    }
}

/*--End Mobile devices, iPads and tablets: 55px up to 768px--*/


/*--Small screens and laptops: 769px up to 1024px--*/

@media only screen and (min-width:48.0625em) and (max-width:64.0624em) {
    .content__section.news {
        height: 65vh
    }

    #pressContainer {
        height: 12vh
    }

    .button__mediaRequest {
        font-size: 0.75rem;
        width: 20%
    }

    #newsContainer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column
    }

    .slide {
        height: 75%
    }

    .slideCards {
        height: 70%
    }
}

/*--End small screens and laptops: 769px up to 1024px--*/


/*--Desktop and large screens: 1025px up to 1200px--*/

@media only screen and (min-width:64.0625em) and (max-width:75em) {
    .content__section.news {
        height: 70vh
    }

    #pressContainer {
        height: 12vh
    }

    .button__mediaRequest {
        font-size: 0.8rem;
        width: 15%
    }
    
    #newsContainer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column
    }

    .slide {
        height: 90%
    }

    .slideCards {
        height: 80%
    }
}

/*--End desktop and large screens: 1025px up to 1200px--*/


/*--Extra large screens and TV: 1201px up to 1499px--*/

@media only screen and (min-width:75.0625em) and (max-width:93.6875em) {
    .content__section.news {
        height: 75vh
    }

    #pressContainer {
        height: 12vh
    }

    .button__mediaRequest {
        font-size: 0.85rem;
        width: 20%
    }
    
    #newsContainer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column
    }

    .slide {
        height: 80%
    }

    .slideCards {
        height: 70%
    }
}

/*--End extra large screens and TV: 1201px up to 1499px--*/
